.Rproj.user
.Rhistory
.RData
LittleInferenceBook.mobi
rprogramming.mobi
exploringData/courseProject1/data/bfg-1.11.7.jar
exploringData/courseProject2/loadData.R.txt
exploringData/courseProject2/plot1.png
exploringData/courseProject2/plot1.R.txt
exploringData/courseProject2/plot2.png
exploringData/courseProject2/plot2.R.txt
exploringData/courseProject2/plot3.png
exploringData/courseProject2/plot3.R.txt
exploringData/courseProject2/plot4.png
exploringData/courseProject2/plot4.R.txt
exploringData/courseProject2/plot5.png
exploringData/courseProject2/plot5.R.txt
exploringData/courseProject2/plot6.png
exploringData/courseProject2/plot6.R.txt
GettingAndCleaningData/courseProject/eval/student1/72d6afd0f90211e38e005b65f78ecf71.txt
GettingAndCleaningData/courseProject/eval/student1/7ceb40d0f90211e3a751b778e9431eb5.txt
GettingAndCleaningData/courseProject/eval/student1/run_analysis.R
GettingAndCleaningData/courseProject/eval/student2/run_analysis.R
GettingAndCleaningData/courseProject/eval/student3/run_analysis.R
GettingAndCleaningData/courseProject/eval/student4/run_analysis.R
GettingAndCleaningData/courseProject/figure/unnamed-chunk-2.png
GettingAndCleaningData/quiz3/data/getdata-data-EDSTATS_Country.csv
GettingAndCleaningData/quiz4/data/AmericanCommunitySurvey.csv
GettingAndCleaningData/quiz4/data/dateDownLoaded.txt
GettingAndCleaningData/quiz4/data/FGDP.csv
GettingAndCleaningData/quiz4/data/getdata-data-EDSTATS_Country.csv
R-binary/jpeg_0.1-8.tgz
